# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT
# iNNER (with eByte E73-2G4M08S1C nrf52840) configuration

config BOARD_ENABLE_DCDC
	bool "Enable DCDC mode"
	select SOC_DCDC_NRF52X
	default y
	depends on BOARD_ACCELERANDO_REDSOIL
